:root {
	/* Background */
	--basic-header:#EEEEEE;
	--basic-background:888888;
	--basic-background-inform-box:#FFFFFF;

	/*Words*/
	--basic-headlines:#000000;
	--basic-paragraph:#283136;
	--basic-сontact-information:#666666;
	--basic-footer-sile:#444444;

	/*Logo*/
	--basic-logo:#000000;
	--basic-logo-hover:#000000;
	--basic-logo-push:#A6A6A6;

	/*Navigation*/
	--basic-nav:#000000;
	--basic-nav-hover:#FB565A;
	--basic-nav-push:#000000;

	/*Button*/
	--basic-button-words:#FFFFFF;
	--basic-button:#FB565A;
	--basic-button-app:#00CA74;
	--basic-button-present:#EFC849;
	--basic-button-filter:#EEEEEE;
	--basic-button-page:#EEEEEE;

	--basic-button-hover:#E74246;
	--basic-button-app-hover:#00BC6C;
	--basic-button-present-hover:#EAB534;
	--basic-button-filter-hover:#DFDFDF;
	--basic-button-page-hover:#DFDFDF;

	--basic-button-push:#D7373B;
	--basic-button-app-push:#00AA62;
	--basic-button-present-push:#E5A722;
	--basic-button-filter-push:#D5D5D5;
	--basic-button-page-push:#D5D5D5;

	--basic-button-page-active: rgba(0, 0, 0, 0.0001);

	/*Social networks*/
	--basic-social:#E1E1E1;
	--basic-social-icon:#FFFFFF;
	--basic-social-hover:#E74246;	
	--basic-social-push:#D7373B;
	/*Filter*/
	--basic-filter-bg: #f1f1f1;
	--basic-filter-outline: #d7dcde;
	--basic-filter-line: #00ca74;
	--basic-filter-circle: #ffffff;
	--basic-filter-dot: #ababab;
	--basic-filter-shadow:#cfcfcf;
	--basic-filter-number:#283136;
	
	

	/*Checkbox*/
	--basic-checkbox:#;
	--basic-checkbox-hover:#;	
	--basic-checkbox-push:#;
	/*triangle*/
	--basic-triangle:#231F20;
}

body {
  min-width: 1160px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-paragraph);
  background-color: var(--basic-background);
}

a {
 text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* Display none*/
.pop-up-block{
	display: none;
}
.modal-feedback {/*Временно отключенно*/
	display: none;
}
/* Button */

.button {
	display: block;
	width: 158px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid var(--basic-button);
	border-radius: 3px;
	color: var(--basic-button-words);
	background-color: var(--basic-button);
	padding-top: 12px;
	padding-bottom: 12px;

}
.button-app {
	border: 1px solid var(--basic-button-app);
	background-color: var(--basic-button-app);
}

.button-presentations {
	border: 1px solid var(--basic-button-present);
	background-color: var(--basic-button-present);
}

.button:hover{
	border: 1px solid var(--basic-button-hover);
	background-color: var(--basic-button-hover);
}

.button-app:hover{
	border: 1px solid var(--basic-button-app-hover);
	background-color: var(--basic-button-app-hover);
}

.button-presentations:hover{
	border: 1px solid var(--basic-button-present-hover);
	background-color: var(--basic-button-present-hover);
}

.button:active{
	border: 1px solid var(--basic-button-push);
	background-color: var(--basic-button-push);
}

.button-app:active{
	border: 1px solid var(--basic-button-app-push);
	background-color: var(--basic-button-app-push);
}

.button-presentations:active{
	border: 1px solid var(--basic-button-present-push);
	background-color: var(--basic-button-present-push);
}

/* Main navigation */
.main-header {
	background-color: var(--basic-header);
	padding-top: 50px;
}
.main-header-logo:active { 
	opacity: 0.2;	
}
.main-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: var(--basic-nav);
	background-color: transparent;
	background-color: var(--basic-header);
	display: grid;
	grid-template-columns: 160px 760px 200px;
	column-gap: 20px;
	margin: 0;
}
.site-navigation {
	display: flex;
	justify-content: center;
	width: 760px;

}
.site-navigation li {
	margin-top: 9px;
    margin-right: 44px;
}
.site-navigation,
.cart-link {
	list-style: none;
}
.cart-link {
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin-top: 25px;
	  
}
.cart-link::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 86px;
	width: 15px;
	height: 15px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.site-navigation a,
.cart-link  {
	color: var(--basic-nav);
	text-transform: uppercase;
}
.site-navigation a:hover,
.cart-link:hover {
	color: var(--basic-nav-hover);
}
.site-navigation a:active,
.cart-link:active {
	color: var(--basic-nav-push);
	opacity: 0.3;
}

/* Features */
.inside-features{
	background-color: var(--basic-header);
	margin-bottom: 73px;
}
.features {
	display: grid;
	grid-template-columns: 400px 760px;
	padding: 0;
}
.features h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 66px;
  margin-bottom: 0px;
}
.features p {
	margin-top: 28px;

}
.button-features{
	margin-top: 39px;
    width: 237px;
}
.features-img {
	margin-top: -12px;
    margin-left: -2px;
}
.features-carousel{
	padding: 0;
	margin-bottom: 0;
}
/* Services */
.services-list {
	list-style: none;
  	display: grid;
	grid-template-columns: 300px 300px 300px;
	margin: 0;
	padding: 0;
	column-gap: 100px;
}
.services-item {
  text-align: left;
}
.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 18px;
	margin-bottom: 9px;
}
.services-item p {
	width: 260px;
	margin-bottom: 33px;
}

/* Description */

.block-description-requirements{
	border-top: 2px solid var(--basic-header);
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-top: 80px;
	column-gap: 150px;
}

.сompany-description {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	margin-top: 73px;
	margin-bottom: 0;
}
.description p:nth-child(3) {
	margin-top: 33px;
	margin-bottom: 0;
}	

.execution-of-works {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 40px;
}

.description-list {
	padding: 0;
	list-style: none;
}
.description-item {
	text-align: left;
	margin-top: 24px;
	margin-left: 36px;
	position: relative;

}
.description-item::before {
	content: "";
	position: absolute;
	border-bottom: 2px solid var(--basic-nav-hover);
	width: 25px;
	height: 2px;
	bottom: 12px;
	left: -37px;
}

/* Requirements */

.requirements {
	margin-top: 38px;
    margin-left: -22px
}

.requirements-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
}
.requirements-item {
display: inline-block;
}
.requirements h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	margin-top: 31px;
	margin-left: 16px;
}

.requirements h4 {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	margin-top: 14px;
    margin-left: -1px;
    margin-bottom: 0;
}
.requirements-item	{
	padding: 0;
	margin: 0;
}
.percent { 
	font-style: normal;
	font-size: 26px;
	line-height: 40px;
	display: inline-block;
	top: -15px;
}
.requirements-paragraph {
	margin-top: 12px;
	font-size: 16px;
	line-height: 18px;
}

/* Partfolio */
.partfolio {
	margin-top: 55px;
	/*padding-top: 45px;*/
	
}
.partfolio-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 46px 44px 39px 32px;
	border-top: 2px solid var(--basic-header);
    border-bottom: 2px solid var(--basic-header);

}
/*.partfolio-item {
	margin: 0;
	padding: 0;
}

*/
.partfolio-html{

}
.partfolio-barber{

}
.partfolio-pink{

}
.partfolio-mishka{

}
.partfolio-link {
	opacity: 0.2;
}
.partfolio-link:hover {
	opacity: 1;
}
.partfolio-link:active {
	opacity: 0.1;
}

/* Style catalog */

.store-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-headlines);
	text-align: center;
	margin: 0;
}
.shell-store-title {

	background-color: var(--basic-header);
}
/* Sorting-form */

.sorting-form h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-headlines);
}
.sorting-form {
	grid-row-start: 1;
	grid-row-end: 2;
	display: grid;
	grid-template-columns: 360px 360px;
	column-gap: 40px;
}
.sorting-text {
	grid-column-start: 1;
	grid-column-end: 2;
}
.sorting-modules {
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	justify-content: flex-start;
	width: 360px;	
}
.sort-type-list,
.sort-direction-list {
	list-style: none;
}
.sort-type-list {
	display: flex;
	justify-content: flex-start;
	width: 300px;
	margin: 0;
	padding: 0;
}
.sort-type-item a{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-headlines);
	color: inherit;
}
.sort-type-item{
	margin-right: 15px;
}
.sort-direction-list {
	display: flex;
	justify-content: flex-end;
	width: 60px;
	margin: 0;
	padding: 0;
}

.sort-direction-item {
	margin-left: 19px;
}
/* Products */
.products {
	grid-row-start: 2;
	grid-row-end: 3;
}
.products-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 42px; 
	grid-row-gap: 30px;
	margin: 0;
	padding: 0; 
}
.product-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-headlines);
}
.product-description {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-сontact-information);
}
/* Turning pages */
.turning-pages-list {
	list-style: none;
	display: flex;
	margin: 55px 0 60px 0;
	padding: 0;
}
.button-page {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 3px solid var(--basic-button-page);
	border-radius: 3px;
	color: var(--basic-headlines);
	background-color: var(--basic-button-page);
	padding: 17px 20px 15px 20px;
	margin-right: 11px;
	display: block;
}
.button-page:hover {
	border: 3px solid var(--basic-button-page-hover);
	background-color: var(--basic-button-page-hover);
}
.button-page:active{
	border: 3px solid var(--basic-button-page-push);
	background-color: var(--basic-button-page-push);
}

.page {
	height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.center {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.shell-grid-catalog {
	display: grid;
	grid-template-columns: 260px 760px;
	grid-column-gap: 140px;
}
/* Filter */

.filter {
	grid-column-start: 1;
	grid-column-end: 2;
}
.filter-fieldset {
	margin: 0;
	padding: 0;
	border: none;
	width: 260px;
	margin: 50px auto; 
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.block-name {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: var(--basic-filter-bg);
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: var(--basic-filter-outline);
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: var(--basic-filter-line);
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-filter-circle);
	background-color: var(--basic-filter-dot);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--basic-filter-shadow);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.price {
	text-transform: uppercase;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
}

.filter-input {
	width: 60px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	color: var(--basic-filter-number);
	border: none;
	border-radius: 5px;
	background: var(--basic-filter-bg);
	font-family: inherit;
	font-size: inherit;
}
.filter-fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	border: none;
}
.filter-list {
	padding: 0;
  	margin: 0;
	list-style: none;
}
.filter-button {
	background-color: var(--basic-button-filter);
	border-color: var(--basic-button-filter);
	color: var(--basic-headlines);
}
.filter-button:hover {
	background-color: var(--basic-button-filter-hover);
	border-color: var(--basic-button-filter-hover);
}
.filter-button:active {
	opacity: 0.3;
	background-color: var(--basic-button-filter-push);
	border-color: var(--basic-button-filter-push);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.sorting-products-button {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

.turning-pages {
	grid-row-start: 3;
	grid-row-end: 4;
}

.triangle-up{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid var(--basic-triangle);
}
.triangle-down{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 11px solid var(--basic-triangle);
}

/* Footer */
.сompany-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.company-address {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-сontact-information);
}
.footer-phone {
  color: var(--basic-сontact-information);
}
.social-list{
	list-style: none;
	display: flex;
	justify-content: flex-start;
	width: 360px;/*Выбрал данную ширину для включения 
	ещё одной социальной сети, так как критерий Д19*/
}
.social-item {
	margin: 65px 9px 65px 0;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 81px;
	height: 81px;
	background-color: var(--basic-social);
	border-radius: 50%;
	padding: 0;
}
.social-button:hover {
	background-color: var(--basic-social-hover);
	
}
.social-button:active { 
	background-color: var(--basic-social-push);

}
.social-button:active img {
	opacity: 0.3;
}
.friendship {
	display: flex;
	flex-wrap: wrap;
	width: 660px;
	height: 68px;
	margin: 75px 0 74px 40px;
}
.friendship h3 {
  color: var(--basic-headlines);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}
.friendship p {
  color: var(--basic-footer-sile);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
.footer-contacts {
	position: relative;
	height: 420px;
}
.map-block {
	position: absolute;
	z-index: 10;
	left: 50%;	
	top: 0;
	transform: translateX(-50%);
	width: 1440px;
	height: 416px;
}
.inform-contacts {
	border: 1px solid red;
	width: 319px;
	height: 308px;
	padding: 0 10px;
	background-color: var(--basic-background-inform-box);
	position: relative;
	z-index: 20;
}
.shell-footer-social-friendship {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
