:root {
	/* Background */
	--basic-header:#EEEEEE;
	--basic-background:888888;
	--basic-background-inform-box:#FFFFFF;

	/*Words*/
	--basic-headlines:#000000;
	--basic-paragraph:#283136;
	--basic-сontact-information:#666666;
	--basic-footer-sile:#444444;

	/*Logo*/
	--basic-logo:#000000;
	--basic-logo-hover:#000000;
	--basic-logo-push:#A6A6A6;

	/*Navigation*/
	--basic-nav:#000000;
	--basic-nav-hover:#FB565A;
	--basic-nav-push:#000000;

	/*Button*/
	--basic-button-words:#FFFFFF;
	--basic-button:#FB565A;
	--basic-button-app:#00CA74;
	--basic-button-present:#EFC849;
	--basic-button-filter:#EEEEEE;
	--basic-button-page:#EEEEEE;

	--basic-button-hover:#E74246;
	--basic-button-app-hover:#00BC6C;
	--basic-button-present-hover:#EAB534;
	--basic-button-filter-hover:#DFDFDF;
	--basic-button-page-hover:#DFDFDF;

	--basic-button-push:#D7373B;
	--basic-button-app-push:#00AA62;
	--basic-button-present-push:#E5A722;
	--basic-button-filter-push:#D5D5D5;
	--basic-button-page-push:#D5D5D5;

	--basic-button-page-active: rgba(0, 0, 0, 0.0001);

	/*Social networks*/
	--basic-social:#E1E1E1;
	--basic-social-icon:#FFFFFF;
	--basic-social-hover:#E74246;	
	--basic-social-push:#D7373B;

	/*Checkbox*/
	--basic-checkbox:#;
	--basic-checkbox-hover:#;	
	--basic-checkbox-push:#;
}

body {
  min-width: 1200px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-paragraph);
  background-color: var(--basic-background);
}

a {
 text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-nav);
  background-color: transparent;
  background-color: var(--basic-header);
}

.site-navigation,
.cart-link {
  list-style: none;
}

/* User navigation */

.site-navigation a,
.cart-link  {
  color: var(--basic-nav);
  text-transform: uppercase;
}

.site-navigation a:hover,
.cart-link:hover {
  color: var(--basic-nav-hover);
}

.site-navigation a:active,
.cart-link:active {
  color: var(--basic-nav-push);
  opacity: 0.3;
}

/* Features */
.features {
  background-color: var(--basic-header);
}
.features h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
/* Services */

.services-list {
  list-style: none;
}

.services-item {
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Button */

.button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid var(--basic-button);
  border-radius: 3px;
  color: var(--basic-button-words);
  background-color: var(--basic-button);
  display: block;
  width: 160px;
  height: 50px;

}

.button-app {
  border: 1px solid var(--basic-button-app);
  background-color: var(--basic-button-app);
}

.button-presentations {
  border: 1px solid var(--basic-button-present);
  background-color: var(--basic-button-present);
}

.button:hover{
  border: 1px solid var(--basic-button-hover);
  background-color: var(--basic-button-hover);
}

.button-app:hover{
  border: 1px solid var(--basic-button-app-hover);
  background-color: var(--basic-button-app-hover);
}

.button-presentations:hover{
  border: 1px solid var(--basic-button-present-hover);
  background-color: var(--basic-button-present-hover);
}

.button:active{
  border: 1px solid var(--basic-button-push);
  background-color: var(--basic-button-push);
}

.button-app:active{
  border: 1px solid var(--basic-button-app-push);
  background-color: var(--basic-button-app-push);
}

.button-presentations:active{
  border: 1px solid var(--basic-button-present-push);
  background-color: var(--basic-button-present-push);
}

/* Description */

.сompany-description{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.execution-of-works{
  text-transform: uppercase;
  font-weight: bold;
}

.description-list {
  list-style: none;
}

.description-item {
  text-align: left;
}

/* Requirements */

.requirements-list {
  list-style: none;
}
.requirements-item {
display: inline-block;
}
.requirements h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.requirements h4 {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.percent { 
  font-style: normal;
  font-size: 26px;
  line-height: 40px;
  display: inline-block;

}

/* Partfolio */
.partfolio-list {
  list-style: none;
}

/* Footer */
.сompany-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.company-address {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-сontact-information);
}
.footer-phone {
  color: var(--basic-сontact-information);
}
.social-list{
  list-style: none;
}
.friendship h3 {
  color: var(--basic-headlines);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.friendship p{
  color: var(--basic-footer-sile);
  font-size: 16px;
  line-height: 22px;
}

/* Style catalog */

.store-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-headlines);
	background-color: var(--basic-header);
}
/* Sorting-form */

.sorting-form h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-headlines);
}
.sort-type-list,
.sort-direction-list {
	list-style: none;
}
.sort-type-item a{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-headlines);
	color: inherit;
}
/*sort-direction-item a не стал пока прописывать так как нужно скрыть текст,
а так же вставить треугольнички с убыванием и возрастанием*/

/* Products */
.products-list {
	list-style: none;
}
.product-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-headlines);
}
.product-description {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-сontact-information);
}
/* Turning pages */
.turning-pages-list {
	list-style: none;
}
.button-page {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 3px solid var(--basic-button-page);
	border-radius: 3px;
	color: var(--basic-headlines);
	background-color: var(--basic-button-page);
	padding: 17px 20px 15px 20px;
}
.button-page:hover {
	border: 3px solid var(--basic-button-page-hover);
	background-color: var(--basic-button-page-hover);
}
.button-page:active{
	border: 3px solid var(--basic-button-page-push);
	background-color: var(--basic-button-page-push);
}
h1, h2 {
	display: none;/* Скрыл так как мешает*/
}
/* Grid */

.page {
	height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.main-navigation {
	background-color: var(--basic-header);
}
.main-navigation-wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.center {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;	
}
.features {
	background-color: var(--basic-header);
	min-width: 100%;
	
}
.features {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0;
	padding: 0;

}
.services-list {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	margin: 0;
	padding: 0;
	column-gap: 100px;
}
.block-description-requirements{
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-top: 120px;
	column-gap: 150px;
}
.requirements-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
}
.partfolio-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
}
.footer-contacts{
	position: relative;
	height: 420px;
}

.map-block{
	position: absolute;
	z-index: 10;
	left: 50%;	
	top: 0;
	transform: translateX(-50%);
	width: 1440px;
	height: 416px;
}
.inform-contacts{
	border: 1px solid red;
	width: 319px;
	height: 308px;
	padding: 0 10px;
	background-color: var(--basic-background-inform-box);
	position: relative;
	z-index: 20;
}
.shell-footer-social-friendship{
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: green;/*Временный фон для отображения соц сетей*/
}
/* modal window */
.modal-feedback {/*Временно отключенно*/
	display: none;
}
.store-title { /*Востановление видимости */
	display: inline;
	background-color: var(--basic-header);
	
}
.shell-grid-catalog {
	display: grid;
	grid-template-columns: 1fr 760px;
	
}
.filter {
	grid-column-start: 1;
	grid-column-end: 2;
}
.main-content-grid{
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr 1fr 1fr min-content; 
}

/* Display none временное скрытие элементов*/
.pop-up-block{
	display: none;
}
.sorting-modules{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2; 
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.sort-type-list{
	grid-column-start: 1;
	grid-column-end: 2;
}
.sort-direction-list{
	grid-column-start: 2;
	grid-column-end: 3;
}
.products-item, .products-list{
	padding: 0;
	margin: 0; 	
}
.product-sedona {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3; 
}
.product-pink{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3; 
}
.product-barbershop{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4; 
}
.product-mishka{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4; 
}
.product-aplus {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5; 
}
.product-kvas {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5; 
}

.turning-pages-list {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6; 
}